h1 {
    color:red;
}

.item_price{
    background-color:blue;
    color:orange;
    margin-top:100px;
}

.description{
    font-size:50px;
}

.new_paragraph{
    font-style:oblique;
    font-size:24px;
    text-align:center;
    text-shadow: 1px 1px 1px green;
}